.goods {
	margin: 2px;
	border-radius: 5px;
	padding: 3px;
	width: 240px;
	height: 50px;
	box-shadow: 0px 1px 1px #777777;
	cursor: pointer;
}
.goods:hover {
	background-color: #F4F4F4;
}
.goods-image {
	margin: 2px;
	width: 50px;
	height: 50px;
}
.goods-title {
	margin: 2px 0px;
	width: 186px;
	font-size: 15px;
	font-weight: bold;
}
.goods-cost {
	margin: 2px 0px;
	width: 186px;
	color: #3333FF;
}
.shop-categories {
	margin: -3px 0px 5px 0px;
}
.shop-type {
	padding: 5px 0px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	margin-right: 3px;
	width: 50px;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	background-color: #DDDDDD;
	transition: all 300ms ease;
}
.x-gm .users-name::before {
	content: "[관리자]";
	color: #00ccff;
	text-shadow: 0px 0px 2px #80e5ff;
}
.chat-item>.x-gm::before {
	content: "[관리자]";
	color: #00ccff;
	text-shadow: 0px 0px 2px #80e5ff;
}
.room-user-title>.x-gm::before {
	content: "[관리자]";
	color: #00ccff;
	text-shadow: 0px 0px 2px #80e5ff;
}

.x-personnel .users-name::before{ content: "[인사]"; color: #ff0080; text-shadow: 0px 0px 2px #ff80bf; }
.chat-item>.x-personnel::before{ content: "[인사]"; color: #ff0080; text-shadow: 0px 0px 2px #ff80bf; }
.room-user-title>.x-personnel::before{ content: "[인사]"; color: #ff0080; text-shadow: 0px 0px 2px #ff80bf; }

.x-mod .users-name::before{ content: "[운영]"; color: #ffcc00; text-shadow: 0px 0px 2px #ffe680; }
.chat-item>.x-mod::before{ content: "[운영]"; color: #ffcc00; text-shadow: 0px 0px 2px #ffe680; }
.room-user-title>.x-mod::before{ content: "[운영]"; color: #ffcc00; text-shadow: 0px 0px 2px #ffe680; }

.x-word .users-name::before{ content: "[단어]"; color: #3ccb34; text-shadow: 0px 0px 2px #9de59a; }
.chat-item>.x-word::before{ content: "[단어]"; color: #3ccb34; text-shadow: 0px 0px 2px #9de59a; }
.room-user-title>.x-word::before{ content: "[단어]"; color: #3ccb34; text-shadow: 0px 0px 2px #9de59a; }

.x-dev .users-name::before{ content: "[개발]"; color: #ff6600; text-shadow: 0px 0px 2px #ffb380; }
.chat-item>.x-dev::before{ content: "[개발]"; color: #ff6600; text-shadow: 0px 0px 2px #ffb380; }
.room-user-title>.x-dev::before{ content: "[개발]"; color: #ff6600; text-shadow: 0px 0px 2px #ffb380; }

.x-media .users-name::before{ content: "[미디어]"; color: #cc00ff; text-shadow: 0px 0px 2px #e580ff; }
.chat-item>.x-media::before{ content: "[미디어]"; color: #cc00ff; text-shadow: 0px 0px 2px #e580ff; }
.room-user-title>.x-media::before{ content: "[미디어]"; color: #cc00ff; text-shadow: 0px 0px 2px #e580ff; }

.x-ad .users-name::before{ content: "[마케팅]"; color: #0040ff; text-shadow: 0px 0px 2px #809fff; }
.chat-item>.x-ad::before{ content: "[마케팅]"; color: #0040ff; text-shadow: 0px 0px 2px #809fff; }
.room-user-title>.x-ad::before{ content: "[마케팅]"; color: #0040ff; text-shadow: 0px 0px 2px #809fff; }

.x-bj .users-name::before{ content: "[BJ]"; color: #001eff; text-shadow: 0px 0px 2px #7d8cff; }
.chat-item>.x-bj::before{ content: "[BJ]"; color: #001eff; text-shadow: 0px 0px 2px #7d8cff; }
.room-user-title>.x-bj::before{ content: "[BJ]"; color: #001eff; text-shadow: 0px 0px 2px #7d8cff; }

.x-yt .users-name::before{ content: "[YT]"; color: #ff0030; text-shadow: 0px 0px 2px #ff9aad; }
.chat-item>.x-yt::before{ content: "[YT]"; color: #ff0030; text-shadow: 0px 0px 2px #ff9aad; }
.room-user-title>.x-yt::before{ content: "[YT]"; color: #ff0030; text-shadow: 0px 0px 2px #ff9aad; }

.x-tw .users-name::before{ content: "[TW]"; color: #931ebe; text-shadow: 0px 0px 2px #eab3ff; }
.chat-item>.x-tw::before{ content: "[TW]"; color: #931ebe; text-shadow: 0px 0px 2px #eab3ff; }
.room-user-title>.x-tw::before{ content: "[TW]"; color: #931ebe; text-shadow: 0px 0px 2px #eab3ff; }

.x-red_name {
	color: #FF3333;
}
.x-orange_name {
	color: #FFA533;
}
.x-green_name {
	color: #43C227;
}
.x-blue_name {
	color: #2F77D9;
}
.x-indigo_name {
	color: #1C18B9;
}
.x-purple_name {
	color: #A939CC;
}
.x-pink_name {
	color: #F15F9A;
}
.x-master_name {
	color: #30a32a;
}