#container-slides {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: calc(100% - 215px);
	height: 100%;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 226px;
	opacity: 0;
	z-index: 1: -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.slide {
	font-size: 3em;
	box-sizing: border-box;
	background: #333;
	color: #fff;
}

#info {
	font-size:13px;padding:3px 2.5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#fff;background-color:#44a342;text-align:center;vertical-align:top;
}
.bold {
	font-weight:bold;
}
#social {float: left;margin-left: 20px;width: 80%;padding-top:17.5px;}

#btl {
height:20px;background-color:rgba(0, 0, 0, 0.4);font-size:14px;background-color: #007790;
}